@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.about-container{
  margin: 10rem auto;
  margin-top: 5rem;
.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  letter-spacing: 0.3rem;
  font-family: $secondary-font;
  margin-bottom: 1rem;
  color: $peach;
  border-top: 3px outset $peach;
  border-radius: 20px;
  filter: drop-shadow(2px 1px .1rem #000);
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px outset $navy-blue;
  border-radius: 5%;
  width: 12rem;
  margin: 4rem 8rem;
}
}

.about {
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 0 5rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  color: $navy-blue;
  font-family: 'Comfortaa'; 
  border-bottom: 3px outset $peach;
  margin: 4rem auto;
  filter: drop-shadow(1px 1px .1rem #000);
}
}