@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.about-container{
  margin: 5rem;
  padding: .002rem 1rem;
  filter: drop-shadow(2px 1px .1rem $navy-blue);
  box-shadow: .5rem .5rem 6rem $navy-blue;
  border-radius: 5rem;
    }
.about-content{
  margin: .6rem auto;
  border-top: .5rem outset $navy-blue;
  border-bottom: .5rem outset $light-blue;
  border-radius: 5rem;
.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  letter-spacing: 0.3rem;
  font-family: $secondary-font;
  margin-bottom: 1rem;
  color: $dark-grey;
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px outset $light-grey;
  border-radius: 20%;
  width: 12rem;
  margin: 4rem 5rem;
  box-shadow: .5rem .5rem 5rem $navy-blue;
}
}

.about {
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 0 5rem;
  padding-bottom: 4rem;
  border-radius: 15%;
  color: $navy-blue;
  font-family: 'Comfortaa'; 
  margin: 4rem auto;
  filter: drop-shadow(1px 1px .1rem #000);
}

body {
	background-color: #111;
}

.greeting {
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  letter-spacing: 1px;
  font-family: 'Great Vibes';
  letter-spacing: .5rem;
  margin-top: 3rem;
}

.greeting-title {
	background-image: url(https://media.giphy.com/media/ja2racAt8ghB3mgOVL/giphy-downsized.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 10rem;
  margin: 10px 0;
  @media (max-width: 0.0625rem) {
    font-size: 7rem;
  }
}
}