@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.about-container{
  margin-top: 10rem;
.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  letter-spacing: 0.3rem;
  font-family: $secondary-font;
  margin-bottom: 3rem;
  color: $navy-blue;
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px outset $navy-blue;
  border-radius: 5%;
  width: 12rem;
  margin: 0 8rem;
}
}

.about {
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 0 5rem 0 5rem;
}
}