@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.banner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  text-align: center;
  .row {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 6rem;
    .title {
      display: inline-block;
      font-size: 7rem;
      color: $navy-blue;
      filter: drop-shadow(3px 2px .13rem #000);
      font-family: $font;
      padding: 8% 0;
    }
    .title-space {
      display: inline-block;
      width: 3rem;
    }
  }
  }


.scroll {
  display: block;
  position: absolute;
  bottom: 15%;
  right: 42%;
  left: 42%;
  background-color: transparent;
  border: none;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-family: $font;
}