@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.banner__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font: 4rem $font, Impact;
  text-transform: uppercase;
  background-color: $light-grey;
  z-index: 0;
  }

// Text animation
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

$colors: $navy-blue, $dark-grey, #000, $light-blue, ;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 20s;
$time-step: $time/$max;

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@media all and (min-width: 320px) and (max-width: 600px) {
  .banner__title {
    font-size: 60rem;
    padding: 5rem 0 0 0;
    margin: 0 auto;
  }
}