@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

footer {
  display: flex;
  background-color: $light-blue;
  filter: drop-shadow(.5rem -.5rem 2rem $light-blue);
  box-shadow: -.5rem .5rem 2rem $light-blue;
  position: static;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px .1rem #000);
  font-size: 120%;
  font-family: 'Comfortaa';
  text-decoration: underline;
  .social-links {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    .footer-icon {
      margin: 0.5rem;
    }
  }
}