@import '../constants.scss';

#header {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: $font;
  font-size: 1.5rem;
  position: fixed;
  background-color: $light-grey;
  z-index: 12;
  padding: 1rem;
}

.logo {
  float: left;
  margin: .5rem;
}

.nav {
  display: inline-block;
  text-align: right;
  width: 80%;
  margin: .5rem .5rem;
}

.nav__item {
  margin-left: 3rem;
  background-color: $light-grey;
  border: none;
}