@import '../constants.scss';

header {
  display: flex;
  box-sizing: border-box;
  height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $light-grey;
  padding: .5rem;
  height: 5rem;
  .logo {
    margin-left: .5rem;

    @media ( max-width: 51rem) {
      display: flex;
      margin-left: 0;
      justify-content: center;
      align-items: center;
    }
  }
  .header-content {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;

    @media (max-width: 51rem) {
      flex-direction: column;
    }

    .navbar {
      display: inline-block;
      width: 100%;
      text-align: right;
      
      @media (max-width: 51rem) {
        display: block;
        margin-top: 1rem;
        text-align: center;
      }

      .nav-item {
        margin-right: 2rem;
        border-left: 3px outset $navy-blue;
        border-right: 3px outset $navy-blue;
        border-radius: .45rem;
        padding: 0 .5rem 0 .5rem;
        background-color: transparent;
        font-size: 115%;
        font-family: $font;
        color: $navy-blue;
        text-decoration: none;

        @media (max-width: 51rem) {
          margin: 0 .2rem;
          border: 3px outset $navy-blue;
          border-radius: .45rem;
          padding: .3rem;
        }
      }
    }
  }

  button {
    border: none;
  }
}