@import '../constants.scss';

header {
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  background-color: $light-grey;
  .header-content {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    .logo {
      margin-left: 0.5rem;
    }
  }
}