@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

#portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: $font;
  background: $light-grey;
  color: $navy-blue;
  text-align: center;
  .portfolio__summary {
    width: 50%;
    .portfolio__intro {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: .3rem;
      margin-bottom: 4rem;
      font-family: $font;
    }

    @media (max-width: 125rem) {
      width: 40%;
    }
    @media (max-width: 93.75rem) {
      width: 50%;
    }
    @media (max-width: 75rem) {
      width: 60%;
    }
    @media (max-width: 56.25rem) {
      width: 70%;
    }
    @media (max-width: 46.875rem) {
      width: 80%;
    }
    @media (max-width: 40.625rem) {
      width: 90%;
    }
    @media (max-width: 28.75rem) {
      width: 100%;
    }
  }
  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15rem;
    row-gap: 5rem;
    width: 60%;
    margin: 0 auto;
    @media (max-width: 112.5rem) {
      width: 80%;
    }
    @media (max-width: 87.5rem) {
      width: 90%;
    }
    @media (max-width: 50rem) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 31.25rem) {
      width: 100%;
    }
  }
}

hr {
  width: 100%;
  margin: 3rem auto;
}