@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.project-item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem;
  filter: drop-shadow(.3rem -.3rem 1rem $navy-blue);
  background-image: radial-gradient($light-grey 20%, $navy-blue 85%);
  padding: 1rem;
  width: 25rem;
  text-align: center;
}

.item-name {
  font-family: $font;
}

.item-description {
  font-family: $font;
}

  .image-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

    .image {
      border: .1rem solid $light-grey;
      border-radius: 1rem 1rem;
      max-width: 20rem;
      max-height: 20rem;
      filter: drop-shadow(-0.8rem 0.8rem 1rem $light-grey);
      margin-bottom: 2rem;
    }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 5% 5%;
    background-color: $navy-blue;
    border-radius: 1rem 1rem;
    border: 0.2rem outset $light-grey;
    margin: 0 auto;
    color: $light-grey;
    line-height: 1.5rem;
    letter-spacing: 0.18rem;
    filter: drop-shadow(0.8rem -0.8rem 1rem $light-grey);
    max-width: 20rem;
    max-height: 20rem;
  }
