@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.project__item {
  display: flex;
  flex-direction: column;
  flex-wrap: inherit;
  justify-content: space-around;
  margin: 5rem auto;
  padding: .1rem .3rem 1rem .3rem;
  border: .8rem groove #000;
  border-radius: 1rem;
  font-family: $font;
  background-color: $navy-blue;
  background-image: url('https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif');
  box-shadow: 0 0 2rem #000;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 31.25rem) {
    width: 100%;
    margin: 0 auto;
  }
  .item__name {
    text-transform: uppercase;
    filter: drop-shadow(.1rem .1rem .1rem $navy-blue);
    font-size: 1.5rem;
    letter-spacing: 0.075rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .item__description {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    font-weight: 300;
  }
  .item__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    border-radius: 1rem;
    .image__container {
      width: 95%;
      margin: 0 auto;
      padding: 1rem 0 2rem 0;
      box-sizing: border-box;
      .image {
        border-radius: 1rem;
        @media (max-width: 31.25rem) {
          width: auto;
        }
      }
    }
    .info__container {
      width: 100%;
      padding: 0 5%;
      margin: 0 auto;
      .item__info{
        border-radius: 1rem;
        background-color: $light-grey;
        font-family: 'Comfortaa', cursive;
        filter: drop-shadow(0 0 .5rem $light-grey);
        .info__wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: inherit;
          margin: 0 auto;
          padding: 2rem 2rem .75rem 2rem;
          border-radius: 1rem;
          .button__wrapper {
            display: block;
            margin-top: 1rem;
            padding: 1.5rem;
            .item__button {
              border: 0.0625rem solid $navy-blue;
              color: $navy-blue;
              letter-spacing: 0.109375rem;
              text-transform: uppercase;
              border-radius: 0.5rem;
              padding: 0.5rem;
              margin-right: 1.25rem;
              text-decoration: none;
              font-family: $font;
              font-size: 0.75rem;
              &:last-child {
                margin-right: 0;
              }
            }
            .item__button:hover {
              background-position: right bottom;
              color: $light-blue;
              cursor: pointer;
            }
            .item__button:focus {
              outline: 0;
            }
          }
        }
      }
    }
  }
}
.project__item:hover {
  box-shadow: 0 0 4rem #000;
  @media (max-width: 31.25rem) {
    box-shadow: none;
  }
}