@import '../constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.project__item {
  border-radius: 1.2rem;
  filter: drop-shadow(.3rem -.3rem 1rem $navy-blue);
  transition: 0.3s;
  background-image: radial-gradient($light-grey 20%, $navy-blue 85%);
  @media (max-width: 31.25rem) {
    box-shadow: none;
  }
  .item__name {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.075rem;
    margin-top: 0;
  }
  .item__description {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
  }
  .item__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    .image__container {
      height: 100%;
      padding: 6% 6% 6% 6%;
      border-radius: 1rem;
      .image {
        height: 100%;
        border-radius: 1rem;
        filter: drop-shadow(-0.8rem 0.8rem 1rem $light-blue);
      }
    }
    .info__container {
      padding: 0 6% 6% 6%;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      .item__info{
        height: 100%;
        border-radius: 1rem;
        background-color: $light-grey;
        filter: drop-shadow(0.8rem -0.8rem 1rem $light-blue);
        .info__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 2.75rem);
          padding: 2rem 2rem .75rem 2rem;
          border-radius: 1rem;
          .button__wrapper {
            display: flex;
            flex-wrap: wrap;
            .item__button, .demo__button {
              border: 0.0625rem solid $navy-blue;
              color: $navy-blue;
              letter-spacing: 0.109375rem;
              text-transform: uppercase;
              border-radius: 0.3rem;
              padding: 0.5rem;
              margin-right: 1.25rem;
              text-decoration: none;
              transition: 0.3s;
              font-size: 0.75rem;
              background-size: 270% 100%;
              background-position: left top;
              margin-bottom: 1.25rem;
              &:last-child {
                margin-right: 0;
              }
            }
            .item__button:hover {
              background-color: $navy-blue;
              color: $light-grey;
              cursor: pointer;
            }
            .item__button:focus {
              outline: 0;
            }
            .demo__button {
              background-color: $navy-blue;
              color: $light-grey;
            }
            .demo__button:hover {
              background-color: $light-grey;
              color: $navy-blue;
              cursor: pointer;
            }
            .demo__button:focus {
              outline: 0;
            }
          }
        }
      }
    }
  }
}
.project__item:hover {
  box-shadow: 0 0.4375rem 0.875rem $navy-blue, 0 0.3125rem 0.3125rem $navy-blue;
  @media (max-width: 31.25rem) {
    box-shadow: none;
  }
}